<div class="create-list-element">
    <h3>Добавить новую запись в список задач</h3>
    <form [formGroup]="createForm">
        <div>
            <input type="text" [(ngModel)]="elementText" formControlName="task" placeholder="Введите описание задачи"
                maxlength="70" required>
            <button (click)="onCreate()">Добавить</button>
        </div>
        <div *ngIf="task.invalid && (task.dirty || task.touched)" class="alert">
            <div *ngIf="task.errors['required'] || task.errors['pattern']">
                Необходимо заполнить описание задачи.
            </div>
        </div>
    </form>
</div>