<div *ngIf="item" [ngClass]="{'list-element': true, 'checked': item.isDone && !isEdit, 'edit': isEdit}">
    <form [formGroup]="viewForm">
        <div class="item">
            <input type="checkbox" [(ngModel)]="item.isDone" (change)="onChanged()" [disabled]="isEdit"
                formControlName="isDone">
            <label *ngIf="!isEdit">{{item.text}}</label>
            <input *ngIf="isEdit" type="text" [(ngModel)]="item.text" maxlength="70" required formControlName="text">
        </div>
        <div class="buttons">
            <span *ngIf="!isEdit" class="edit-btn" (click)="onEdit()"></span>
            <span *ngIf="isEdit" class="save-btn" (click)="onSave()"></span>
            <span class="delete-btn" (click)="onDelete()"></span>
        </div>
        <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert">
            <div *ngIf="text.errors['required'] || text.errors['pattern']">
                Необходимо заполнить описание задачи.
            </div>
        </div>
    </form>
</div>